body {
  text-align: center;
  font-family: Arial;
  transition: 0.3s;
}

body.light { background:#f4f4f4; color:#000; }
body.dark { background:#121212; color:#fff; }

.logo {
  width:120px;
  margin-top:15px;
}

#statusLight {
  width:90px;
  height:90px;
  border-radius:50%;
  margin:20px auto;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity:0.4; }
}

button, input {
  padding:10px;
  margin:5px;
  font-size:16px;
}

.map {
  width:90%;
  height:250px;
  border:0;
  margin:20px;
}
